In this notebook I'll create a csv sheet that I can use in the other notebooks to add a (sub)region column to my data frames. This may be handy to group some countries instead of working with 105 countries...

This notebook is a bit chaotic still, it was very much try and error. 

I made the first attempts with library "Countryinfo", but it just kept failing to recognize certain countries.  (The back and forth with the country names here (upper case, lower case, upper case, lower case...) still stems from these attemps.

In the end, it was easier to work with a suitable CSV from the Internet.
On occasion, I clean up in this notebook, but for now I have other priorities and leave it as it is.

In [1]:
# load libraries and data
import pandas as pd
import numpy as np

TZA = pd.read_csv('data/Train.csv')

In [2]:
# make all cases in country names lower
TZA['country'] = TZA['country'].str.lower()

In [3]:
# load continents data
continents = pd.read_csv('data/continents2.csv')
# also make all cases in country names lower
continents['name'] = continents['name'].str.lower()

The following back and forth with `.lower` and `.capitalize` stems from my trys with countryinfo. 
The following renaming is based on the checks from below in this notebook: All countries that do not appear in the continents dataframe (i.e. are spelled or named differently) are now renamed here so that it matches.

In [4]:
# adjust the country names

TZA = TZA.replace({'country' : {'united states of america': 'united States', 'swaziland' : 'eswatini', 'cape verde' : 'cabo verde', 'swizerland' : 'switzerland', 'ukrain' : 'ukraine','malt' : 'malta', 'burgaria' : 'bulgaria', 'korea' : 'south korea', 'comoro' : 'comoros', 'scotland' : 'united kingdom', 'russia' : 'russia', 'srilanka': 'sri lanka', }})
TZA = TZA.replace({'country' : {'ivory coast': "côte d'ivoire", 'drc' : 'congo', 'uae' : 'united arab emirates', 'trinidad tobacco' : 'trinidad and tobago', 'costarica' : 'costa rica', 'philipines' : 'philippines', 'djibout' : 'djibouti', 'morroco' : 'morocco'}})
TZA['country'] = TZA['country'].str.lower()

In [5]:
# create a list of all unique country names in the original dataset
countries = TZA['country'].unique()

# convert it to a dataframe
countries_df = pd.DataFrame(countries, columns = ['country'])

In [6]:
# check if countries in this dataframe also exist in the continent dataframe
isin = countries_df['country'].isin(continents['name'])
countries_df = pd.concat([countries_df, isin], axis=1)
countries_df.columns.values[1] = "isin"
countries_df

            country  isin
0       switzerland  True
1    united kingdom  True
2             china  True
3      south africa  True
4     united states  True
..              ...   ...
97          uruguay  True
98          morocco  True
99         thailand  True
100         bermuda  True
101         estonia  True

[102 rows x 2 columns]

In [7]:
# see all countries which don't match -> these names then were adjusted subsequently, so after all of this there are finally no non-matching country names left
false_countries = countries_df.loc[countries_df['isin'] == False]
false_countries

Empty DataFrame
Columns: [country, isin]
Index: []

In [8]:
# create the final dataframe which contains name of the country (column renamed to "country) and the subregion
continents_final = continents[['name', 'sub-region']]
continents_final = continents_final.rename(columns={'name':'country', 'sub-region':'sub_region'})

In [9]:
# change spelling (capitalize first letter)
continents_final['country'] = continents_final['country'].str.capitalize()

In [10]:
# check if it looks good
continents_final

               country          sub_region
0          Afghanistan       Southern Asia
1        Åland islands     Northern Europe
2              Albania     Southern Europe
3              Algeria     Northern Africa
4       American samoa           Polynesia
..                 ...                 ...
244  Wallis and futuna           Polynesia
245     Western sahara     Northern Africa
246              Yemen        Western Asia
247             Zambia  Sub-Saharan Africa
248           Zimbabwe  Sub-Saharan Africa

[249 rows x 2 columns]

In [11]:
# save this locally as csv
continents_final.to_csv('subregions.csv')