In this notebook I'll create a csv sheet that I can use in the other notebooks to add a region column to my data frames. The region may be handy to group some countries.

This notebook is a bit chaotic still, it was very much try and error. It was not that easy, because the country names in the original dataset were not all the same as in the dataset with the regions that I found online. I'll clean this up soon :)

In [1]:
import pandas as pd
import numpy as np

TZA = pd.read_csv('data/Train.csv')

In [2]:
TZA['country'] = TZA['country'].str.lower()

In [3]:
continents = pd.read_csv('data/continents2.csv')
continents['name'] = continents['name'].str.lower()

In [4]:
TZA['country'] = TZA['country'].str.capitalize()

In [5]:
TZA = TZA.replace({'country' : {'United states of america': 'United States', 'Swaziland' : 'Eswatini', 'Cape verde' : 'Cabo Verde', 'Swizerland' : 'Switzerland', 'Ukrain' : 'Ukraine','Malt' : 'Malta', 'Burgaria' : 'Bulgaria', 'Korea' : 'South Korea', 'Comoro' : 'Comoros', 'Scotland' : 'United Kingdom', 'russia' : 'Russian Federation', 'sri lanka': 'SriLanka', }})
TZA = TZA.replace({'country' : {'Ivory coast': "Côte d'Ivoire", 'Drc' : 'Congo', 'Uae' : 'United arab emirates', 'Trinidad tobacco' : 'Trinidad and Tobago', 'Costarica' : 'Costa Rica', 'Philipines' : 'Philippines', 'Djibout' : 'Djibouti', 'Morroco' : 'Morocco'}})

In [6]:
TZA['country'] = TZA['country'].str.lower()
countries = TZA['country'].unique()
countries_df = pd.DataFrame(countries, columns = ['country'])
countries_df

            country
0       switzerland
1    united kingdom
2             china
3      south africa
4     united states
..              ...
97          uruguay
98          morocco
99         thailand
100         bermuda
101         estonia

[102 rows x 1 columns]

In [7]:
isin = countries_df['country'].isin(continents['name'])
countries_df = pd.concat([countries_df, isin], axis=1)
countries_df.columns.values[1] = "isin"
countries_df

            country  isin
0       switzerland  True
1    united kingdom  True
2             china  True
3      south africa  True
4     united states  True
..              ...   ...
97          uruguay  True
98          morocco  True
99         thailand  True
100         bermuda  True
101         estonia  True

[102 rows x 2 columns]

In [8]:
false_countries = countries_df.loc[countries_df['isin'] == False]

In [9]:
false_countries

Empty DataFrame
Columns: [country, isin]
Index: []

In [10]:
continents_final = continents[['name', 'sub-region']]
continents_final = continents_final.rename(columns={'name':'country'})

In [11]:
continents_final['country'] = continents_final['country'].str.capitalize()

In [12]:
continents_final

               country          sub-region
0          Afghanistan       Southern Asia
1        Åland islands     Northern Europe
2              Albania     Southern Europe
3              Algeria     Northern Africa
4       American samoa           Polynesia
..                 ...                 ...
244  Wallis and futuna           Polynesia
245     Western sahara     Northern Africa
246              Yemen        Western Asia
247             Zambia  Sub-Saharan Africa
248           Zimbabwe  Sub-Saharan Africa

[249 rows x 2 columns]

In [13]:
continents_final.to_csv('subregions.csv')