In [1]:
import pandas as pd
import numpy as np

TZA = pd.read_csv('data/Train.csv')

In [2]:
TZA['country'] = TZA['country'].str.lower()

In [3]:
TZA['country'] = TZA['country'].str.capitalize()

In [4]:
TZA = TZA.replace({'country' : {'Swizerland' : 'Switzerland', 'Ukrain' : 'Ukraine','Malt' : 'Malta', 'Burgaria' : 'Bulgaria', 'Korea' : 'South Korea', 'Comoro' : 'Comoros'}})

In [5]:
TZA = TZA.replace({'country' : {'Trinidad tobacco' : 'Trinidad and Tobago', 'Costarica' : 'Costa Rica', 'Philipines' : 'Philippines', 'Djibout' : 'Djibouti', 'Morroco' : 'Morocco'}})

In [6]:
TZA['country'].unique()

array(['Switzerland', 'United kingdom', 'China', 'South africa',
       'United states of america', 'Nigeria', 'India', 'Brazil', 'Canada',
       'Malta', 'Mozambique', 'Rwanda', 'Austria', 'Myanmar', 'Germany',
       'Kenya', 'Algeria', 'Ireland', 'Denmark', 'Spain', 'France',
       'Italy', 'Egypt', 'Qatar', 'Malawi', 'Japan', 'Sweden',
       'Netherlands', 'Uae', 'Uganda', 'Australia', 'Yemen',
       'New zealand', 'Belgium', 'Norway', 'Zimbabwe', 'Zambia', 'Congo',
       'Bulgaria', 'Pakistan', 'Greece', 'Mauritius', 'Drc', 'Oman',
       'Portugal', 'South Korea', 'Swaziland', 'Tunisia', 'Kuwait',
       'Dominica', 'Israel', 'Finland', 'Czech republic', 'Ukraine',
       'Ethiopia', 'Burundi', 'Scotland', 'Russia', 'Ghana', 'Niger',
       'Malaysia', 'Colombia', 'Luxembourg', 'Nepal', 'Poland',
       'Singapore', 'Lithuania', 'Hungary', 'Indonesia', 'Turkey',
       'Trinidad and Tobago', 'Iraq', 'Slovenia', 'United arab emirates',
       'Comoros', 'Sri lanka', 'Iran', 'Montenegro', 'Angola', 'Lebanon',
       'Slovakia', 'Romania', 'Mexico', 'Latvia', 'Croatia', 'Cape verde',
       'Sudan', 'Costa Rica', 'Chile', 'Namibia', 'Taiwan', 'Serbia',
       'Lesotho', 'Georgia', 'Philippines', 'Ivory coast', 'Madagascar',
       'Djibouti', 'Cyprus', 'Argentina', 'Uruguay', 'Morocco',
       'Thailand', 'Bermuda', 'Estonia'], dtype=object)

In [7]:
countries = TZA['country'].unique()

In [8]:
regions =[]
for c in countries:
    from Countrydetails import country
    country = country.country_details(c)
    region = country.region()
    regions.append(region)

In [9]:
regions

['Western Europe',
 'British Isles',
 'Eastern Asia',
 'Southern Africa',
 'North America',
 'Western Africa',
 'Southern and Central Asia',
 'South America',
 'North America',
 'Southern Europe',
 'Eastern Africa',
 'Eastern Africa',
 'Western Europe',
 ('Your given Country myanmar is not available. May be you are looking for these',
  'Myanmar, Panama, Guyana'),
 'Western Europe',
 'Eastern Africa',
 'Northern Africa',
 'British Isles',
 'Nordic Countries',
 'Southern Europe',
 'Western Europe',
 'Southern Europe',
 'Northern Africa',
 'Middle East',
 'Eastern Africa',
 'Eastern Asia',
 'Nordic Countries',
 'Western Europe',
 'Middle East',
 'Eastern Africa',
 'Australia and New Zealand',
 'Middle East',
 'Australia and New Zealand',
 'Western Europe',
 'Nordic Countries',
 'Eastern Africa',
 'Eastern Africa',
 ('Your given Country congo is not available. May be you are looking for these',
  'Congo, Togo, Mongolia'),
 'Eastern Europe',
 'Southern and Central Asia',
 'Southern Europe',
 'Eastern Africa',
 'There is no data for region of democratic republic of the congo',
 'Middle East',
 'Southern Europe',
 'Eastern Asia',
 'Southern Africa',
 'Northern Africa',
 'Middle East',
 'Caribbean',
 'Middle East',
 'Nordic Countries',
 'Eastern Europe',
 'Eastern Europe',
 'Eastern Africa',
 'Eastern Africa',
 None,
 'Eastern Europe',
 'Western Africa',
 'Western Africa',
 'Southeast Asia',
 'South America',
 'Western Europe',
 'Southern and Central Asia',
 'Eastern Europe',
 'Southeast Asia',
 'Baltic Countries',
 'Eastern Europe',
 'Southeast Asia',
 'Middle East',
 'Caribbean',
 'Middle East',
 'Southern Europe',
 'Middle East',
 'Eastern Africa',
 'Southeast Asia',
 'Southern and Central Asia',
 ('Your given Country montenegro is not available. May be you are looking for these',
  'Montenegro, Congo, United Kingdom'),
 'Central Africa',
 'Middle East',
 'Eastern Europe',
 'Eastern Europe',
 'Central America',
 'Baltic Countries',
 'Southern Europe',
 'Western Africa',
 'Northern Africa',
 'Central America',
 'South America',
 'Southern Africa',
 'There is no data for region of taiwan',
 'There is no data for region of serbia',
 'Southern Africa',
 'Middle East',
 'Southeast Asia',
 'There is no data for region of ivory coast',
 'Eastern Africa',
 'Eastern Africa',
 'Middle East',
 'South America',
 'South America',
 'Northern Africa',
 'Southeast Asia',
 'North America',
 'Baltic Countries']

In [15]:
countries_regions = pd.concat([countries,regions], axis=1, keys=['country', 'region'])

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid